:root {
    --db-blue-btn: #0061ff;
    --db-section-sky: #b4d0e7;
    --db-black: #000000;
    --db-white: #ffffff;
    --db-teams-sec: #f5f5f5;
    --db-teams-lighter-red: #ff1c1c;
    --db-teams-light-red: #d5001f;
    --db-tams-lighter-green: #d1e9cd;
    --db-teams-light-green: #a2d39b;
    --db-teams-brown-red: #61082b;
    --db-teams-light-blue: #0093ce;
    --db-teams-dark-blue: #0d2481;
    --db-teams-yellow: #ffd830;
    --db-grey: #a0a0a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

footer {
    background-color: var(--db-black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #region debug */
.debug header {
    border: 2px solid black;
}

.debug .logo-section
.login {
    background-color: orange;
    border: 1px solid black;
    width: 50%;
}

.debug #sec-main {
    height: 600px;
}

.debug #sec-plans {
    height: 1000px;
}

.debug #sec-partner {
    height: 500px;
}

.debug #sec-buisness {
    height: 600px;
}

.debug #sec-info-teams {
    height: 300px;
}

.debug #sec-teams {
    height: 500px;
    background-color: lightslategray;
}

.debug #sec-try {
    height: 300px;
}

.debug #sec-questions {
    height: 500px;
}

.debug .container
.container-sm {
    background-color: coral;
    height: 100%;
}

.debug #sec-teams .container-sm {
    height: 200px;
}

.debug #foot-top .container {
    height: 400px;
}

.debug #foot-top .row {
    height: 400px;
}

.debug footer {
    height: 600px;
}

.debug .card-plane
.card-buisness
.card-picture
.card-description {
    background-color: paleturquoise;
}

.debug [class^="col"] {
    border: 1px solid black;
}

.debug [class^="card"] {
    height: 150px;
}

.debug .teams-desc {
    height: 500px;
}

.debug #sec-teams .col-6 {
    height: 250px;
    background-color: paleturquoise;
}

.debug #sec-teams .teams-desc {
    background-color: coral;
}


/* #endregion debug */

/* #region utilities */

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.container {
    max-width: 1152px;
    width: 70%;
    margin: auto;
}

.container-sm {
    width: 60%;
    margin: auto;
}

.container-plans {
    max-width: 250px;
    margin: auto;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-2 {
    width: calc(100% / 12 * 2);
    margin-top: 4rem;
    padding: 0.5rem;
}

.btn {
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--db-blue-btn);
    color: var(--db-white);
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.p-1 {
    padding: 1rem;
}

.p-05 {
    padding: 0.5rem;
}

.px-1 {
    padding: 0 1rem;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}



/* #endregion utilities */

/* #region app-header */

#app-header {
    background-color: var(--db-white);
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000000000;
}

#navbar {
    height: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav-right .nav-left {
    width: 50%;
}

.nav-list {
    display: inline;
}

.nav-list li {
    padding: 0 1.5rem;
    display: inline;
}

.nav-list li:first-child {
    padding-left: 2rem;
}

.nav-list a {
    color: var(--db-black);
}




/* #endregion app-header */

/* #region app-main */

main #sec-main,
#sec-try {
    background-color: var(--db-section-sky);
    margin-bottom: 150px;
}

main #sec-plans,
#sec-partner,
#sec-buisness,
#sec-info-teams,
#sec-questions {
    margin-bottom: 2rem;
}

.container-sm h2 {
    padding: 0.5rem;
}


.card-description {
    margin: 3rem 2rem 0 3rem;
}

.card-buisness {
    padding: 0.5rem;
    margin: 1rem;
}

#sec-main {
    position: relative;
}

#sec-main h1 {
    font-size: 75px;
    font-weight: 800;
    padding: 5rem 3rem 2rem 0;
}

#sec-main .col-4 .btn {
    margin: 2rem 0;
    padding: 1rem;
}

#sec-main .col-4 i {
    margin: 2rem 0;
    color: var(--db-black);
}

.jumbo {
    position: absolute;
    max-width: 45%;
}

#sec-plans h2 {
    font-size: 40px;
    margin-bottom: 3rem;
}

#sec-plans .container-sm label {
    margin: 0 1rem;
}

.card-plane {
    border: 1px solid var(--db-grey);
    min-height: 100%;
}

.plane-top {
    border-bottom: 1px solid var(--db-grey);
    text-align: center;
    font-size: 15px;
    padding: 0.5rem 0;
    
}

.price {
    font-weight: 600;
    font-size: small;
}

.period{
    font-size: small;
    color: var(--db-grey);
}

.container-plans i {
    font-size: small;
}

.p-buy button {
    width: 100%;
}

.p-buy a {
    text-decoration: underline;
    color: var(--db-blue-btn);
}

.p-line {
    border: none;
    height: 1px;
    margin: 1rem 0;
    width: 20%;
    background-color: var(--db-grey);
    opacity: 1px;
}

.p-point {
    font-size: small;
}

.p-point i {
    color: var(--db-blue-btn);
}

.card-plane li {
    padding: 0.5rem 0;
}

#sec-plans .col-12 .container-plans {
    max-width: 1080px;
}



/* #endregion app-main */

/* #region app-footer */

#foot-top .row {
    justify-content: space-evenly;
}

.foot-line {
    margin-top: 4rem;
    border: none;
    height: 1px;
    width: 10%;
    background-color: var(--db-teams-sec);
}


/* #endregion app-footer */